<a href="https://colab.research.google.com/github/juli-ter/Project_SAS/blob/master/4_2_Cluster_check.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_1 = pd.read_csv('labeled_showcase.csv')
df_2 = pd.read_csv('clean_data_final01.csv')

In [ ]:
df_1 = df_1[['Телефон_new','labels']]
df_1

                   Телефон_new  labels
0      32555749-545749525150 .       1
1      55494851-56495152535476       1
2      55574848-48485149515175       0
3      55574848-48485149515377       0
4      55574848-48494948544878       1
...                        ...     ...
58025  56575053-49545153535383       1
58026  56575454-48485156545486       3
58027  56575655-52525750505484       1
58028  57484948-48505057565793       1
58029  57495452-49485054525597       1

[58030 rows x 2 columns]

In [ ]:
df_2

,Unnamed: 0,Дата,ДатаДоставки,НомерЗаказаНаСайте,НовыйСтатус,СуммаЗаказаНаСайте,СуммаДокумента,МетодДоставки,ФормаОплаты,Регион,...,СуммаУслуг,СуммаДоставки,НомерСтроки,КоличествоПроданоКлиенту,ДатаЗаказаНаСайте,Телефон_new,ЭлектроннаяПочта_new,Клиент,ID_SKU,ГородМагазина
0,1,01.03.2017 12:22,15.03.2017 0:00,3999117_TR,Доставлен,4819,3 759,Магазины,Безналичная,Челябинск,...,0,0,3,1,01.03.2017 0:00,55575453-56535648535679,107117_ku16@list.ru,Гость,IDL00028974351,0
1,2,01.03.2017 12:31,17.03.2017 0:00,3999122_TR,Доставлен,3325,3 325,Магазины,Безналичная,Нижневартовск,...,0,0,1,1,01.03.2017 0:00,55574950-57515657535772,109117_mu17@mail.ru,Гость,IDL00038573351,0
2,4,01.03.2017 11:38,14.03.2017 0:00,3999411_TR,Доставлен,528,528,Магазины,Безналичная,Ижевск,...,0,0,3,1,01.03.2017 0:00,55574854-56495552515179,guest_103117_gu28@workmail.ru,Гость,IDL00035791553,0
3,8,01.03.2017 9:02,03.03.2017 0:00,3999713_TR,Доставлен,1196,1 196,Магазины,Безналичная,Подольск (Московская область район),...,49,49,3,1,01.03.2017 0:00,55574948-52515357485779,111117_ou25@yandex.ru,Ольга,IDL00025316250,0
4,9,01.03.2017 9:02,03.03.2017 0:00,3999713_TR,Доставлен,1196,1 196,Магазины,Безналичная,Подольск (Московская область район),...,49,49,2,1,01.03.2017 0:00,55574948-52515357485779,111117_ou25@yandex.ru,Ольга,IDL00025320553,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217576,691531,17.04.2017 3:18,28.04.2017 0:00,4410609_TR,Доставлен,2607,2 607,Магазины,Безналичная,Краснодар,...,0,0,1,1,17.04.2017 0:00,55575449-53485056485678,95117__u17@mail.ru,Наталья,IDL00043781351,0
217577,691535,17.04.2017 10:10,19.04.2017 0:00,4411268_TR,Доставлен,1377,1 377,Магазины,Безналичная,Москва,...,49,49,2,1,17.04.2017 0:00,55575054-53545152544971,guest_103117_gu28@workmail.ru,Гость,IDL00013484149,0
217578,691536,17.04.2017 11:03,27.04.2017 0:00,4411571_TR,Доставлен,1098,2 086,Магазины,Безналичная,Нижний Новгород,...,0,0,1,1,17.04.2017 0:00,55575448-49564957485078,97117_au19@mail.ru,Анна,IDL00026050250,0
217579,691537,17.04.2017 11:03,27.04.2017 0:00,4411571_TR,Доставлен,1098,2 086,Магазины,Безналичная,Нижний Новгород,...,0,0,2,1,17.04.2017 0:00,55575448-49564957485078,97117_au19@mail.ru,Анна,IDL00026050654,0
217580,691538,17.04.2017 10:41,24.04.2017 0:00,4411576_TR,Доставлен,13349,13 349,Магазины,Безналичная,Москва,...,0,0,2,1,17.04.2017 0:00,55575455-49525649535277,100117_du13@mail.ru,Евгения,IDL00028050856,0

In [ ]:
df_2.columns

Index(['Unnamed: 0', 'Дата', 'ДатаДоставки', 'НомерЗаказаНаСайте',
       'НовыйСтатус', 'СуммаЗаказаНаСайте', 'СуммаДокумента', 'МетодДоставки',
       'ФормаОплаты', 'Регион', 'Группа2', 'Группа3', 'Группа4', 'Тип',
       'Номенклатура', 'ТипТовара', 'Отменено', 'Количество', 'Цена',
       'Revenue', 'ЦенаЗакупки', 'МесяцДатыЗаказа', 'ГодДатыЗаказа', 'Статус',
       'Гео', 'Marge', 'СуммаУслуг', 'СуммаДоставки', 'НомерСтроки',
       'КоличествоПроданоКлиенту', 'ДатаЗаказаНаСайте', 'Телефон_new',
       'ЭлектроннаяПочта_new', 'Клиент', 'ID_SKU', 'ГородМагазина'],
      dtype='object')

In [ ]:
df = df_2.merge(df_1, on=['Телефон_new'], how='left')

In [ ]:
#clust 0
clust0_1 = df[df.labels == 0]
clust0 = clust0_1[['НомерЗаказаНаСайте','Revenue','Количество']]
clust0 = clust0.groupby('НомерЗаказаНаСайте').agg(sum)
clust0.reset_index()

      НомерЗаказаНаСайте  Revenue  Количество
0          1303000319_TR  13300.0           1
1          1303000321_TR  16150.0           1
2          1303000323_TR   4180.0           1
3          1303000324_TR  18500.0           1
4          1303000325_TR  18050.0           1
...                  ...      ...         ...
11954         4513265_TR   4999.0           1
11955         4513280_TR  17945.0           1
11956         4513455_TR   1546.0           1
11957         4513456_TR   8618.0           2
11958         4513462_TR  19845.0           1

[11959 rows x 3 columns]

In [ ]:
clust0.Revenue.mean()

7755.087576720464

In [ ]:
clust0.Revenue.sum()

92743092.33

In [ ]:
clust0['Количество'].mean()

1.307718036625136

In [ ]:
clust0_1['Группа3'].unique()

array(['КОЛЯСКИ', 'ДЕТСКИЕ СТУЛЬЯ ДЛЯ КОРМЛЕНИЯ', 'КАТАЛКИ/КАЧАЛКИ',
       'АВТОКРЕСЛА', 'ИЗДЕЛИЯ ИЗ ПЛАСТМАССЫ', 'ДЕТСКАЯ МЕБЕЛЬ, МАТРАСЫ',
       'СПОРТИВНЫЕ КОМПЛЕКСЫ И ПЕСОЧНИЦЫ', 'ВЕЛОСИПЕДЫ/САМОКАТЫ',
       'ДЕТСКАЯ ОДЕЖДА (7-16 лет)', 'СОПУТСТВУЮЩИЕ ТОВАРЫ ДЛЯ ОБУВИ',
       'ПОСТЕЛЬНОЕ БЕЛЬЕ', 'ЭЛЕКТРОМОБИЛИ/МАШИНЫ ПЕДАЛЬНЫЕ',
       'КОРЗИНЫ, ЯЩИКИ ДЛЯ ИГРУШЕК', 'ХОДУНКИ/ПРЫГУНКИ',
       'КОЛЯСКИ ДЛЯ КУКОЛ', 'МАНЕЖИ/ШЕЗЛОНГИ', 'ВЕРХНЯЯ ДЕТСКАЯ ОДЕЖДА',
       'ОДЕЖДА, ОБУВЬ', 'ОДЕЖДА ДЛЯ НОВОРОЖДЕННЫХ (0-2 лет)',
       'ГОЛОВНЫЕ УБОРЫ, ВАРЕЖКИ, ПЕРЧАТКИ', 'САНКИ/СНЕГОКАТЫ',
       'ОБУВЬ ДЕТСКАЯ', 'ИГРУШКИ ДЛЯ РАЗВИТИЯ МАЛЫШЕЙ',
       'ИГРУШКИ ДЛЯ ДЕВОЧЕК', 'ЭЛЕКТРОПРИБОРЫ', 'НАСТОЛЬНЫЕ ИГРЫ',
       'ИГРУШКИ ДЛЯ МАЛЬЧИКОВ', 'МУЗЫКАЛЬНЫЕ ИНСТРУМЕНТЫ', 'КОНСТРУКТОРЫ',
       'ДЕТСКИЕ КОЛГОТКИ И НОСКИ', 'ПОДГУЗНИКИ', 'ТОВАРЫ ДЛЯ МАМ',
       'ТВОРЧЕСТВО', 'ПРЕДМЕТЫ ПО УХОДУ ЗА НОВОРОЖДЕННЫМИ',
       'СРЕДСТВА ГИГИЕНЫ', 'ПЮРЕ', 'ЗАМЕНИТЕЛИ МОЛОКА', 'СУМКИ ДЛЯ МАМ',
       'ДЕТСКАЯ КОСМЕТИКА', 'АКСЕССУАРЫ', 'ДЕТСКОЕ БЕЛЬЁ',
       'ДЕТСКАЯ ОДЕЖДА (2-6 лет)', 'АКТИВНЫЙ ОТДЫХ', 'ФИГУРЫ, ПЕРСОНАЖИ',
       'ПОСУДА', 'ПЕЛЕНКИ ОДНОРАЗОВЫЕ', 'ТОВАРЫ ДЛЯ РЫБ', 'ОБУВЬ ЖЕНСКАЯ',
       'МЯГКИЕ ИГРУШКИ', 'ТОВАРЫ ДЛЯ КОШЕК', 'БУТЫЛОЧКИ',
       'ЛАМПЫ/СВЕТИЛЬНИКИ', 'СОСКИ/ПУСТЫШКИ', 'КАНЦТОВАРЫ',
       'МОЛОКООТСОСЫ', 'КАШИ', 'ТРУСИКИ НЕПРОМОКАЕМЫЕ',
       'ТОВАРЫ ДЛЯ СОБАК', 'ПРОДУКТЫ ПИТАНИЯ ДЛЯ МАМ', 'ЭЛЕМЕНТЫ ПИТАНИЯ',
       'ВСЁ ДЛЯ ПРАЗДНИКА', 'СРЕДСТВА БЫТОВОЙ ХИМИИ', 'ТОВАРЫ ДЛЯ ПТИЦ',
       'БАКАЛЕЯ', 'ПОЛИГРАФИЧЕСКАЯ ПРОДУКЦИЯ', 'АКСЕССУАРЫ ДЛЯ ДЕВОЧЕК'],
      dtype=object)

In [ ]:
clust0_1['Группа2'].unique()

array(['КРУПНОГАБАРИТНЫЙ ТОВАР', 'ТЕКСТИЛЬ, ТРИКОТАЖ', 'ОБУВЬ',
       'ЖЕНСКИЕ ШТУЧКИ', 'ИГРУШКИ', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ', 'ПОДГУЗНИКИ',
       'КОСМЕТИКА/ГИГИЕНА', 'ДЕТСКОЕ ПИТАНИЕ', 'ТОВАРЫ ДЛЯ ЖИВОТНЫХ',
       'СОПУТСТВУЮЩИЕ ТОВАРЫ', 'КАНЦТОВАРЫ, КНИГИ, ДИСКИ'], dtype=object)

In [ ]:
#clust 1
clust1_1 = df[df.labels == 1]
clust1 = clust1_1[['НомерЗаказаНаСайте','Revenue','Количество']]
clust1 = clust1.groupby('НомерЗаказаНаСайте').agg(sum)
clust1.reset_index()

      НомерЗаказаНаСайте  Revenue  Количество
0          1303000313_TR    247.0           1
1          1303000336_TR   1906.0           1
2          1305001079_TR    175.0           1
3          1305001104_TR    134.0           1
4          1305001109_TR    763.0           1
...                  ...      ...         ...
47344         4513463_TR   1932.0           4
47345         4513474_TR   2002.0          10
47346         4513480_TR   4864.0           2
47347         4513486_TR   1436.0           3
47348         4513487_TR   2319.0          44

[47349 rows x 3 columns]

In [ ]:
clust1.Revenue.mean()

2194.2765283321733

In [ ]:
clust1.Revenue.sum()

103896799.33999999

In [ ]:
clust1['Количество'].mean()

5.0069061648609265

In [ ]:
#clust 2
clust2_1 = df[df.labels == 2]
clust2 = clust2_1[['НомерЗаказаНаСайте','Revenue','Количество']]
clust2 = clust2.groupby('НомерЗаказаНаСайте').agg(sum)
clust2.reset_index()

     НомерЗаказаНаСайте  Revenue  Количество
0         1867002717_TR    700.0           1
1         1965000360_TR   4299.0           1
2         1968000397_TR   1114.0           1
3         1974000289_TR   1755.0           1
4         1979000759_TR    709.0           1
...                 ...      ...         ...
2638         4512394_TR   3199.0           1
2639         4512731_TR    189.0           1
2640         4512845_TR    589.0           1
2641         4513184_TR   2599.0           1
2642         4513397_TR   2599.0           1

[2643 rows x 3 columns]

In [ ]:
clust2.Revenue.mean()

2292.1138743851684

In [ ]:
clust2.Revenue.sum()

6058056.970000001

In [ ]:
clust2['Количество'].mean()

1.7412031782065833

In [ ]:
#clust 3
clust3_1 = df[df.labels == 3]
clust3 = clust3_1[['НомерЗаказаНаСайте','Revenue','Количество']]
clust3 = clust3.groupby('НомерЗаказаНаСайте').agg(sum)
clust3.reset_index()

      НомерЗаказаНаСайте  Revenue  Количество
0          1867002676_TR   1277.0           1
1          1870001185_TR    999.0           1
2          1960000444_TR    999.0           1
3          1968000381_TR   4699.0           1
4          1972000303_TR   3299.0           1
...                  ...      ...         ...
13132         4513367_TR   7354.0           9
13133         4513403_TR   6260.0           3
13134         4513415_TR   3685.0           6
13135         4513432_TR   1560.0           1
13136         4513454_TR   1049.0           5

[13137 rows x 3 columns]

In [ ]:
clust3.Revenue.mean()

2473.3200707924184

In [ ]:
clust3.Revenue.sum()

32492005.77

In [ ]:
clust3['Количество'].mean()

2.991474461444774

In [ ]:
clust0_1['Группа2'].unique()

array(['КРУПНОГАБАРИТНЫЙ ТОВАР', 'ТЕКСТИЛЬ, ТРИКОТАЖ', 'ОБУВЬ',
       'ЖЕНСКИЕ ШТУЧКИ', 'ИГРУШКИ', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ', 'ПОДГУЗНИКИ',
       'КОСМЕТИКА/ГИГИЕНА', 'ДЕТСКОЕ ПИТАНИЕ', 'ТОВАРЫ ДЛЯ ЖИВОТНЫХ',
       'СОПУТСТВУЮЩИЕ ТОВАРЫ', 'КАНЦТОВАРЫ, КНИГИ, ДИСКИ'], dtype=object)

In [ ]:
clust1_1['Группа2'].unique()

array(['ТЕКСТИЛЬ, ТРИКОТАЖ', 'ИГРУШКИ', 'КРУПНОГАБАРИТНЫЙ ТОВАР',
       'ПОДГУЗНИКИ', 'КОСМЕТИКА/ГИГИЕНА', 'ЖЕНСКИЕ ШТУЧКИ', 'ОБУВЬ',
       'КАНЦТОВАРЫ, КНИГИ, ДИСКИ', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ',
       'СОПУТСТВУЮЩИЕ ТОВАРЫ', 'ДЕТСКОЕ ПИТАНИЕ', 'ТОВАРЫ ДЛЯ ЖИВОТНЫХ',
       'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА'], dtype=object)

In [ ]:
clust2_1['Группа2'].unique()

array(['ИГРУШКИ', 'КРУПНОГАБАРИТНЫЙ ТОВАР', 'ОБУВЬ', 'ТЕКСТИЛЬ, ТРИКОТАЖ',
       'КОСМЕТИКА/ГИГИЕНА', 'КАНЦТОВАРЫ, КНИГИ, ДИСКИ', 'ПОДГУЗНИКИ',
       'СОПУТСТВУЮЩИЕ ТОВАРЫ', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ', 'ДЕТСКОЕ ПИТАНИЕ',
       'ТОВАРЫ ДЛЯ ЖИВОТНЫХ', 'ЖЕНСКИЕ ШТУЧКИ'], dtype=object)

In [ ]:
clust3_1['Группа2'].unique()

array(['ТЕКСТИЛЬ, ТРИКОТАЖ', 'ОБУВЬ', 'СОПУТСТВУЮЩИЕ ТОВАРЫ',
       'КРУПНОГАБАРИТНЫЙ ТОВАР', 'ИГРУШКИ', 'ЖЕНСКИЕ ШТУЧКИ',
       'КАНЦТОВАРЫ, КНИГИ, ДИСКИ', 'ТОВАРЫ ДЛЯ КОРМЛЕНИЯ', 'ПОДГУЗНИКИ',
       'КОСМЕТИКА/ГИГИЕНА', 'ДЕТСКОЕ ПИТАНИЕ', 'ТОВАРЫ ДЛЯ ЖИВОТНЫХ',
       'ТЕХНИКА И ТОВАРЫ ДЛЯ ДОМА'], dtype=object)